{% extends 'layouts/base.html' %} {% block content %}
<h1 class="h3 mb-2 text-gray-800">Table Category</h1>
<p class="mb-4">
  DataTables is a third party plugin that is used to generate the demo table
  below. For more information about DataTables, please visit the
  <a target="_blank" href="https://datatables.net"
    >official DataTables documentation</a
  >.
</p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
      <form action="{% url 'createcategory' %}" method="post">
        {% csrf_token %}  
        <div>
              <label for="Name">Name</label>
              <input class="form-control form-control-sm mb-2 mr-sm-2" name="name" />
          </div>
          <button class="btn btn-primary btn-md">
              Submit
          </button>
      </form>
  </div>
</div>

{% endblock %}
