{% extends 'layouts/base.html' %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Table Category</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <form action="{% url 'exportcategory' %}" method="post">
            {% csrf_token %}
            <label for="Export">Exports</label>
            <button class="btn btn-primary btn-sm">
                Submit
            </button>
        </form>
    </div>
</div>


{% endblock %}